<!-- Example Navigation / Header -->
<div class="off-canvas position-right" id="mobileNav" data-transition="push" data-off-canvas>

  <!-- Close button -->
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>

  <!-- Menu -->
  <nav class="mobile">
    <ul class="vertical menu">
      <li {{#ifpage 'home' }}class="active"{{/ifpage}}><a href="home.html">home</a></li>
      <li {{#ifpage 'other' }}class="active"{{/ifpage}}><a href="other.html">other page</a></li>
    </ul>
  </nav>
</div>

<div class="off-canvas-content" data-off-canvas-content>
  <!-- Your page content lives here -->

  <a class="mobile-nav-button show-for-small-only" data-toggle="mobileNav">MENU <img src="https://www.placehold.it/40x40&text=logo" alt=""></a>

  <div class="row">
    <div class="column small-12">
      <nav class="main">
        <a href="/" class="logo">
          <img src="https://www.placehold.it/40x40&text=logo" alt="">
        </a>

        <ul class="menu float-right hide-for-small-only">
          <li {{#ifpage 'home' }}class="active"{{/ifpage}}><a href="home.html">home</a></li>
          <li {{#ifpage 'work' }}class="active"{{/ifpage}}><a href="work.html">my work</a></li>
          <li {{#ifpage 'other' }}class="active"{{/ifpage}}><a href="other.html">other page</a></li>
        </ul>
      </nav>
    </div>
  </div>